:root {
    
}

body {
  width: 550px;
  height: 1020px;
  margin: auto;
}

.convert {
  padding-top: 33px;
  width: 100%;
  height: 285px;
  background-color: #6943ff;
  padding-bottom: 0;
  margin-bottom: 0;
}
h1 {
  width: 90%;
  height: 38px;
  margin: auto;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}
input {
  width: 21.3%;
  height: 83px;
  margin: auto;
  margin-top: 30px;
  margin-left: 216px;
  margin-bottom: 25px;
  align-content: center;

  border: 2px solid #b295ff;
  border-radius: 5px;
  background-color: #6943ff;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 24px;
  /* or 42% */

  text-align: center;

  color: #ffffff;
}

button {
  width: 117px;
  height: 42px;
  margin-left: 216px;
  margin-bottom: 34px;

  background: #ffffff;
  /* shadow/sm */
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.results {
  width: 100%;
  height: 729px;
  margin-top: 0;
  padding-top: 36px;

  background: #f4f4f4;
}

.display {
  width: 500px;
  height: 59px;
  margin-left: 25px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 18.5px;

  margin-bottom: 24px;
}

h2 {
  width: 346px;
  height: 25px;
  margin: auto;
  margin-bottom: 9px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */

  text-align: center;

  color: #5a537b;
}
p {
  width: 346px;
  height: 25px;
  margin: auto;

  /* text-sm/leading-5/font-normal */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;

  color: #353535;
}
